/* .flex {
    display: "flex"
} */

.hidden {
    display: "none";
}

.cover-image {
    height: 55vh;
}

.button-bottom {
    margin: 10px auto 30px auto;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.main-font {
    font-family: 'Playfair Display', serif;
}

.sec-color {
    background-color: #FD7F00;
    color: white
}

.pri-color {
    background: #0141CF;
}

.input-angka {
    width: 80px;
}

.nav, .phone {
    color: white; 
    text-decoration: none;
}

.phone:hover {
    color: white; 

}

.nav:hover{
    cursor: pointer;
    color: #FD7F00;
}

.service-icon {
    font-size: 60px !important;
    margin: 20px;
}

.bg-soft {
    background-color: #FFF3E7;
}
.carousel-inner {
    height: 120%;
}

#carouselIndicator {
    height: 100%;
}

html {
    scroll-padding: 200px;
}

.bg-blue {
    background-color: #1874D2;
}

@media (max-width: 400px) {
    .carousel-inner, .cover-image, #carouselIndicator {
        height: auto;
    } 
    
}